@import "../../styles/variables.scss";

.text {
    position: fixed;
    top: 50%;
    left: -23%;
    transform: translateY(-50%);

    color: #323232;
    font-size: 37vw;
    text-align: center;
    opacity: 0.15;
    z-index: 1;

    white-space: nowrap;
    user-select: none;

    display: inline-block;
    vertical-align: middle;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@keyframes show {
    from { opacity: 0 }
    to { opacity: 0.15 }
}

@keyframes hide {
    from { opacity: 0.15 }
    to { opacity: 0 }
}

.show_anim {
    opacity: 0.15;
    animation: show 1000ms ease-in;
}
.hide_anim {
    opacity: 0;
    animation: hide 1000ms ease-in;
}

.h {
    opacity: 0;
}
