@import "../../styles/variables.scss";

.text {
    position: fixed;
    top: 50%;
    left: -23%;
    transform: translateY(-50%);

    color: #323232;
    font-size: 37vw;
    text-align: center;
    opacity: 0.15;
    z-index: 1;

    white-space: nowrap;
    user-select: none;

    display: inline-block;
    vertical-align: middle;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
