@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Variables */
:root {
	--background: radial-gradient(124% 336% at 24.5% 30%, #1B4A41 0%, #130C1C 100%);

	--white: #C4CFD9;
	--grey: #999999;
	--black: #222B34;
	--green: #10FF61;
	--medium-green: #1A3F3A;
	--dark-green: #0B1715;
	--black-green: #081110;
	--other-green: #102623;
}

/* Basic settings */
* {
	margin: 0; 
	padding: 0;
	
	font-family: 'VT323', 'monospace';
} 
 
body {
	background: var(--background);
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.background-image {
	height: 70vh;
	transform: rotate(-22deg);
	z-index: -1;
	position: absolute;
	left: -10vw;
	bottom: -10vh;
	overflow: hidden;

	filter: drop-shadow(0px 0px 6px #23EB31) blur(14px);
	-webkit-filter: drop-shadow(0px 0px 6px #23EB31) blur(14px);
}

/* Level */


.level-container {
	background: var(--grey);
	border-radius: 100px;
	
	position: absolute;
	margin-top: 3%;
	right: 3%;
	
	height: 3em;
	width: 200px;
	min-width: 200px;
	
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.level-container p {
	top: -5px;
	position: absolute;
	padding-top: 3%;
	font-size: 2.9em;
	color: var(--black);
}


/* Coins */


.coin-container {
	background: var(--grey);
	border-radius: 100px;
	
	position: absolute;
	margin-top: 3%;
	left: 3%;
	
	height: 3em;
	width: 200px;
	min-width: 200px;
	
	display: flex;
	justify-content: center;
	flex-direction: row;
}

.coin-container p {
	font-size: 3.2rem;
	color: var(--black);
	padding-left: 20%;
}

.coin-container img {
	height: 80%;
	top: 10%;
	left: 3%;
	position: absolute;
}

/* Menu */

.menu-container {
	width: 100vw;
	height: 100vh;
	animation: 0.3s linear loadContainer;
}

.menu-container .title {
	color: var(--green);
	font-size: 6.2rem;
	text-align: center;
	letter-spacing: 0.125em;
	
	padding-top: 4.5%;
}

.button-container {
	width: 30%;
	height: 23%;
	position: absolute;
	left: 35%;
	margin-top: 5%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.button-container input {
	background: transparent;
	outline: none;
	border: none;
	cursor: pointer;
	
	font-size: 3rem;
	letter-spacing: 0.16em;
	color: var(--grey);
}

.button-container input:hover {
	transition: 0.3s;
	color: var(--green);
	letter-spacing: 0.1.5em;

	text-shadow: 3.5px 3.5px 0 var(--black);
}


/* Menu CSS */


.shop-container, .settings-container {
	width: 100vw;
	height: 100vh;
	animation: 0.3s linear loadContainer;
}

.shop-container .title, .settings-container .title {
	color: var(--green);
	font-size: 5.2rem;
	text-align: center;
	letter-spacing: 0.125em;
	
	padding-top: 2%;
}

.shop-wrapper, .settings-wrapper {
	background: var(--dark-green);
	width: 80%;
	height: 65%;
	border-radius: 15px;
	
	position: absolute;
	left: 10%;
	margin-top: 4%;
}

/* Shop */

.item-select {
	position: absolute;
	left: 3%;
	top: -2.5rem;
	width: 50%;

	display: flex;
	gap: 2%;
}

.item-select div{
	width: 3.5em;
	height: 2.5rem;
	position: absolute;
	
	background: var(--black-green);
	border-radius: 5px 5px 0 0;
	cursor: pointer;
	transition: 0.15s;
	
	color: var(--grey);
	font-size: 2.3em;
	text-align: center;
}

#block {
	margin-left: 36%;
}

#music {
	margin-left: 72%;
}

/* Cards (shop)*/

.card-container {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;

	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.card {
	background: var(--medium-green);
	width: 30%;
	height: 75%;
	position: relative;
	border-radius: 17px;
}

.card-icon {
	left: calc(50% - calc(55% / 2));
	width: 55%;
	top: 10%;
	position: relative;
}

.card-info {
	width: 100%;
	/* height: 49%; */
	position: absolute;
	bottom: 0;
	border-radius: 18px 17px;
	background: var(--other-green);
	
	display: flex;
	align-items: stretch;
	flex-direction: column;
	justify-content: center;
}

.card-title {
	color: var(--white);
	text-align: center;
	font-size: 2.3rem;
	letter-spacing: 0.125em;
}

.buy-card {
	width: 43%;
	left: calc(28% - 1px);
	margin-top: 5%;
	margin-bottom: 4%;
	position: relative;

	padding: 2px;
	background: var(--black-green);
	border-radius: 5px;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: space-evenly;
}

.buy-card p {
	font-size: 2.5rem;
	padding-right: 36%;
	color: var(--grey);
}

.buy-card img {
	height: 70%;
	right: 10%;
	top: 15%;
	position: absolute;
}

/* Settings */

.music, .sound {
	width: 95%;
	height: 13%;
	
	margin-top: 1.2em;
	padding-left: 5%;
	
	display: flex;
	align-items: center;

	color: var(--white);
	font-size: 2rem;
	letter-spacing: 0.125em;
}


.music-input, .sound-input {
	width: 40%;
	height: 50%;
	margin-left: 10%;
	position: relative;
	display: flex;
	justify-content: space-between;
}

.music-input input, .sound-input input {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.show-range-m, .show-range-s {
	width: 7%;
	height: 100%;
	border-radius: 3px;
	background: var(--medium-green);
	transition: 0.2s;
}

hr {
	width: 95%;
	margin-left: 2.5%;
	margin-top: 3%;
	height: 4px;
	border-radius: 25px;
	background: var(--other-green);
	border: none;
}


/* GLOBAL */

@keyframes loadContainer {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.exit-button {
	width: 4vw;
	height: 4vw;
	position: absolute;

	right: -1.5vw;
	top: -1.5vw;

	display: flex;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	border-radius: 50%;
	background: var(--green);
}

.exit-button #x, .exit-button #y {
	width: 5px;
	border-radius: 10px;
	height: 80%;
	position: absolute;
	background: var(--black);
}

.exit-button #x {
	transform: rotate(45deg);
}

.exit-button #y {
	transform: rotate(-45deg);
}
