.array-sort {
	width: 100vw;
	height: 100vh;
	
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.container {
	width: 85vw;
	height: 50vh;
	padding: 1%;
	
	margin-top: 10%;
	position: absolute;
	
	border: 4px solid rgb(100,100,150);
	border-radius: 10px;
	
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.block {
	flex: 1;
	background: rgb(100,100,150);
	transition: 100ms;
}

.settings {
	width: 60%;
	top: 13%;
	height: 10%;
	position: absolute;
	
	border: 4px solid rgb(100,100,150);
	border-radius: 10px;
	
	display: flex;
	align-items: center;
	justify-content: space-around;
}

input[type='button'] {
	background: #646496;
	color: white;
	font-size: 1.2em;
	padding: 10px 20px;
	border: none;
   cursor: pointer;
	border-radius: 5px;
	
	&:hover {
		background: darken(#646496, 10%);
	}
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	background: #646496;
	height: 5px;
	border-radius: 5px;
	outline: none;
	margin-top: 10px;
	
	&::-webkit-slider-thumb, &::-moz-range-thumb {
		-webkit-appearance: none;
		appearance: none;
		width: 20px;
		height: 20px;
		background: white;
		border-radius: 50%;
		cursor: pointer;
	}
	display: block;
}

label {
	color: #fff;
	font-size: 1.2em;
	width: 26%;
}

h1 {
	color: #fff;
	top: -1%;
	font-size: 3em;
	position: absolute;
}

input[type='text'] {
	background: transparent;
	border: 0;
	outline: none;
	color: #fff;
	width: 30%;
	margin-left: 1%;
	font-size: 1em;
}
