* {
	margin: 0; 
	padding: 0; 
} 
 
body {
	display: flex;
	justify-content: center;
	align-items: center;

	background: rgb(45,45,45); 
}

#container {
	/* display: flex; */
	/* flex-wrap: wrap; */

	position: absolute;
	top: calc( 50% - 250px  );
	width: 500px;
	height: 500px;
	background: rgb(100,100,100);
}

#grass, #border {
	width: 100px;
	height: 100px;
	transform: rotate(0deg);
	position: absolute;
	background: url('./img/test.png') no-repeat center center fixed;
	/* box-shadow: 0 -1px 0 2px #000; */
	background-size: cover;
}

