* {
	margin: 0; 
	padding: 0; 
} 
 
body {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	height: 100vh;
	background: #130C1C; 
}

#game-container {
	margin: auto;
	width: 85%;
	border-radius: 12px;
	height: 85%;
	background: #1F142D;

	display: flex;
	justify-content: center;
}

#brick, #special, #reward {
	/* height = image height / (image width / 150) */
	width: 150px; 
	height: 168.62px;
	position: absolute;
}

#player {
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: 1;
}

#score {
	color: #fff;
	text-align: center;
	font-size: 3rem;
	position: absolute;
	top: 3%;
}
