@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

body {
	padding: 0;
	margin: 0;

	width: 100vw;
	height: 100vh;

	display: flex;
	justify-content: center;
	align-items: center;

	background: rgb(42,40,50);
}

canvas {
	// background: rgb(120,120,150);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url(https://user-images.githubusercontent.com/18351809/46888871-624a3900-ce7f-11e8-808e-99fd90c8a3f4.png);
	border-radius: 15px;
}

h1 {
	position: absolute;
	top: 5px;

	color: #fff;
	text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;

	font-size: 3.8em;
   font-family: 'Bungee', cursive;
}
