@import '../../../scss/global.scss';

.navbar {
	width: 100vw;
	height: 10vh;
	top: 2%;
	position: fixed;

	// delete
	// background: rgba(#000000, 0.2);

	display: flex;
	align-items: center;
	justify-content: space-between;

	.links {
		display: flex;
		justify-content: space-between;

		min-width: 33%;
		margin-right: 5%;
	}

	.socials {
		width: 17%;
		height: 75%;
		margin-left: 5%;

		border-radius: 12px;
		border: solid 2px $c-white;

		font-family: $nav-font;
		color: $c-white;
		font-size: 2rem;

		display: flex;
		justify-content: space-evenly;
		align-items: center;

		.separate {
			height: 70%;
			width: 2px;
			background: $c-white;
			border-radius: 50px;
		}

		a { display: flex; }
		div { cursor: pointer; padding-top: 1%; }
	}
}

.link {
	color: $c-white;
	font-size: 2rem;
	font-family: $nav-font;

	position: relative;
	display: flex;
	justify-content: center;


	&::before{
		content: '';

		border-radius: 50px;
		background: #fff;

		position: absolute;
		width: 110%;
		height: 2.5px;

		bottom: calc(50% - 2.5px);
		transition: 200ms;
	}

	&:hover::before {
		bottom: 0;
	}
}

.link.active::before {
	bottom: 0;
}
