@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');

$nav-font: 'Flamenco', cursive;
$code-font: 'Signika Negative', sans-serif;
$global-font: 'Aref Ruqaa Ink', serif;

$c-white: #FFFFFF;
$c-purple: #896BA3;
$c-grey: #E4E4E4;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html { scroll-behavior: smooth; }

body {
	background: radial-gradient(100% 316% at 0% 0%, #4F8074 0%, #896BA3 100%);
	overflow-x: hidden;

	width: 100vw;
	min-height: 500vh;
}

h1,h2,h3,h4,h5,h6,p, ul, li, div {
	font-family: $global-font;
	color: $c-white;
}

a {
	text-decoration: none;
	color: inherit;
}

s { text-decoration: none; }

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
