body, #ui {
    margin: 0;
    height: 100vh;
    width: 100vw;
    position: absolute;
}
img {
    display: none;
}

// - retro/pixel art
// - fialový/modrý téma - disco
// - multiplayer
// - questy, PVP na styl blue light/red light
//
// + zbraň jako modrý laser který střílí z lightsaber, nevím proč ale chci to tam mít
// + něco na styl just dance, letí na tebe nějaký pózy ze stage a ty je musíš zatancovat, abys dotal bonus (např. Q, W, E ,R)
// + pak si můžeš někde v rohu od shady týpka koupit něco, co to zrychlý/pomalý/random, nebudeš moc kontrolovat-random pohyb, něco tě i "zabije"...
// + můžeš chodit, pak naskočit na stage
// + minihra jako bluďiště, akorát multiplayer/solo, stage 5x5 a ty si musíš stoupnout na určitou barvu
