@import '../../scss/global.scss';

.blog {

	position: absolute;
	left: 15%;
	top: calc(10vh + 2% + 3vh); // navbar is 10vh width && 2%

	width: 70%;
	height: auto;

	h1 {
	font-family: $blog-font;
		color: $c-white;
		font-size: 2.3em;
	}

	p {
		font-family: $blog-font;
		color: $c-grey;
		font-size: 1.2em;
		font-weight: 400;

		padding-top: 1%;
		padding-left: 2%;

		&::first-letter {
			font-size: 1.4em;
		}

		b {
			color: rgb(240,240,240);
			font-weight: 600;
		}
	}
}

code {
	background: rgba(#090909, 0.5);

	padding: 2px 4px;
	border-radius: 7px;
	color: #E2E2E3;

	font-family: $code-font;
	font-size: 1em;
}

$default: #E2E2E3;
$number: #B39DF3;
$string: #E7C664;

$function: #FA5C7B;
$variable: #FA5C7B;
$character: #FA5C7B;

$comment: #7F8490;
$variable-name: #F39660;
$func-name: #9ED072;


.code-wrapper {
	border-radius: 13px;
	background: rgba(#090909, 0.5);
	width: 80%;
	margin-top: 3%;

	padding-bottom: 1%;

	left: 10%;
	position: relative;

	.filename {
		font-size: 1em;
		color: $default;
		text-align: center;
	}

	hr {
		margin-top: 1%;
		margin-bottom: 1%;
		width: 102.5%;
		position: relative;
		left: -2%;
	}

	input {
		position: absolute;
		right: 0;
		top: 0;

		cursor: pointer;

		padding: 1px 2%;
		font-family: $code-font;
		color: $default;
		font-size: 1.2em;

		border-radius: 0 13px 0 13px;
		background: rgba(#080808, 0.6);
		outline: none;
		border: none;

		&:hover {
			transition: 350ms;
			background: rgba(#080808, 0.7);
		}

		&:active {
			transition: 0.8s;
			color: #000;
		}
	}
}

.code, .code-wrapper {
	font-family: $code-font;
	font-size: 1.2em;

	padding-left: 1.5%;

	// syntax
	color: $default;

	.function, .variable, .character {
		color: $function;
	}

	.number {
		color: $number;
	}

	.string {
		color: $string;
	}

	.func-name {
		color: $func-name;
	}

	.var-name{
		color: $variable-name;
	}

	.comment {
		color: $comment;
		font-style: italic;
	}
}

