@import "../../../styles/variables.scss";

.projects {
    h1 {
        font-size: 2rem;
    }

    h4 {
        color: $gray;
        font-size: 1.5rem;
    }

    p {
        width: 90%;
        padding: 0%;
        font-size: 1.4rem;
    }

    span {
        &:hover {
            cursor: pointer;
            color: $pink;
            transition: 200ms;
        }
    }

    img {
        width: 43% !important;
        height: auto !important;
        position: relative !important;
        float: right;
        border-radius: 8px;
        padding-left: 2%;
        padding-bottom: 2%;
    }
}

.switch {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 10%;

    button {
        background: none;
        border: 0;
        outline: none;

        color: $white;
        font-size: 1.5rem;
        cursor: pointer
    }

    span {
        width: 13px;
        height: 13px;
        border-radius: 50px;
        background: $gray;
    }
}

.box {
    background: rgba($black, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 25px $dark-black;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 70vh;
    overflow-y: hidden;
    overflow-x: scroll;

    display: flex;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    h1, h4, p { margin-left: 4%; }
    img { margin-right: 4%; }
    h1, img { margin-top: 4%; }
}

.card {
    position: relative;
    width: 100%;
}

.hl {
    color: $pink;
}

.hl_bg {
    background: $pink !important;
}
