@import "../../../styles/variables.scss";

.projects {
    h1 {
        font-size: 2rem;
    }

    h4 {
        color: $gray;
        font-size: 1.5rem;
    }

    p {
        width: 90%;
        padding: 0%;
        font-size: 1.5rem;
    }

    span {
        &:hover {
            cursor: pointer;
            color: $pink;
            transition: 400ms;
        }
    }

    img {
        width: 45% !important;
        height: auto !important;
        position: relative !important;
        float: right;
        border-radius: 8px;
        margin-left: 2%;
        margin-bottom: 2%;
    }

    a {
        color: $gray;
        text-decoration: none;

        &:hover {
            color: $pink;
            transition: 200ms;
        }
    }
}

.wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    overflow-y: hidden;
    overflow-x: scroll !important;

    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;

    display: grid;
    grid-auto-flow: column;

    &::-webkit-scrollbar {
        display: none;
    }
}

.switch {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 10%;

    button {
        background: none;
        border: 0;
        outline: none;
        margin: 0 1%;

        color: $white;
        font-size: 1.5rem;
        cursor: pointer
    }

    span {
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background: $gray;
        margin-top: 1%;

        &:hover {
            background: $pink;
            transition: 200ms;
        }
    }
}

.box {
    background: rgba($black, 0.2);
    border-radius: 10px;
    box-shadow: 0 0 25px $dark-black;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 70vh;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);

    h1, h4, p { margin-left: 4%; }
    img { margin-right: 4%; }
    h1, img { margin-top: 4%; }
}

.card {
    position: relative;
    width: 70vw;
}

.hl_bg {
    background: $red !important;
}
