:root {
	--block-width: 150px;
}

.game-container {
	width: 100vw;
	height: 100vh;
	animation: 0.3s linear loadContainer;
}

.game-container .title {
	color: var(--green);
	font-size: 5.2rem;
	text-align: center;
	letter-spacing: 0.125em;
	
	padding-top: 2%;
}

.game-wrapper {
	background: #225e54;
	width: 90%;
	height: 73%;
	border-radius: 15px;
	
	margin-left: 5%;
	margin-top: 2%;

	display: flex;
	justify-content: center;
}

#brick, #special, #reward, #spike, #portal, #cracked {
	/* height = image height / (image width / 150) */
	width: var(--block-width); 
	height: var(--block-width);
	position: absolute;
}

/* 1/2 of the block */
#player-game {
	position: absolute;
	width: calc(2 * calc(var(--block-width) / 3));
	height: calc(2 * calc(var(--block-width) / 3));
	z-index: 1;
	transition: 0.25s;
}

/* Lose win screen */

.lose-screen {
	animation: 0.3 linear loadContainer;
	position: absolute;
	left: 15vw;
	top: 20vh;
	
	z-index: 2;
	/* height 75, top 12.5 */
	width: 70vw;
	height: 60vh;
	
	display: flex;
	flex-direction: column;
	
	border-radius: 15px;
	background: var(--dark-green); 
}

.lose-screen h2 {
	color: var(--green);
	text-align: center;
	font-size: 4em;
	padding-top: 20px;
}

.end-coins {
	margin-top: 5%;
	
	width: 40%;
	height: 15%;

	left: 30%;

	position: relative;
}

.end-coins p{
	color: var(--white);
	font-size: 3em;
	padding-left: 35%;
}

.end-coins img {
	height: 50%;
	top: 10%;
	left: 45%;
	position: absolute;
}

#restart, #menu {
	color: var(--grey);
	font-size: 4.5em;
	text-align: center;
	padding-top: 5%;
	cursor: pointer;
}

#restart:hover, #menu:hover {
	transition: 0.1s;
	color: var(--green);
}

.game-wrapper .exit-button {
	position: relative;
	left: 50%;
	top: -2vw;
}


@media only screen and (max-height: 750px) {
	:root {
		--block-width: 130px;
}

@media only screen and (max-height: 650px) {
	:root {
		--block-width: 120px;
	}
}
