* {
	margin: 0; 
	padding: 0; 
} 
 
body { 
	background: rgb(25,35,35); 
	width: 100vw;
	height: 100vh;
	
	display: flex;
	justify-content: center;
	align-items: center;
} 

canvas {
	width: 85%; 
	height: 85%;
	background: radial-gradient(234.34% 234.34% at -25.76% 23.04%, #1D4350 0%, #A43931 100%);
	border-radius: 10px;
}
