@import "../../styles/variables.scss";

.navbar {
    position: fixed;
    height: 10vh;
    width: 100vw;
    z-index: 2;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 1.5rem;

    nav {
        display: flex;
        justify-content: space-around;
        min-width: 40%;

        a {
            color: $white;
            text-decoration: none;

            &:hover {
                color: $pink;
                transition: 200ms;
            }
        }
    }
}

.active {
    color: $red !important;
    text-decoration: underline !important;
}
