@import "../../styles/variables.scss";

.navbar {
    position: fixed;
    height: 10vh;
    width: 100vw;
    z-index: 3;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    font-size: 1.5rem;

    nav {
        display: flex;
        justify-content: space-around;
        min-width: 40%;

        a {
            color: $white;
            text-decoration: none;
            padding: 0 10px;

            &:hover {
                color: $pink;
                transition: 200ms;
            }
        }
    }

    div {
        height: 70%;
        margin: 7.5%;
        aspect-ratio:1;
        cursor: pointer;
        z-index: 5;

        display:flex;
        flex-direction:column;

        span {
            width: 100%;
            height: 5px;
            border-radius: 100px;
            background: $red;

            margin: 6px 0;
            transition: 400ms  cubic-bezier(0.68, -0.6, 0.32, 1.6);

            &:nth-of-type(1){ width:50%;  }
            &:nth-of-type(2){ width:100%; }
            &:nth-of-type(3){ width:75%; }
        }
    }

}

@media only screen and (max-width: 750px) {
    nav:not(.visible) a {
        visibility: hidden;

        &:hover {
          transition: 0ms !important;
        }
    }
}

nav.visible {
    transition: 400ms;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    background: $black;

    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.visible span{
    &:nth-child(1) {
        transform-origin:bottom;
        transform:rotatez(45deg) translate(8px,0px)
    }
    &:nth-child(2) {
        transform-origin:top;
        transform:rotatez(-45deg)
    }
    &:nth-child(3) {
        transform-origin:bottom;
        width:50%;
        transform: translate(15px, -11px) rotatez(45deg);
    }
}

.active {
    color: $red !important;
    text-decoration: underline !important;
}
