@import "../../../styles/variables.scss";

@media only screen and (max-width: 850px) {
    .aboutme {
        p {
            font-size: 1.2rem !important;
        }
    }
}

@media only screen and (max-width: 650px) {
    .aboutme {
        div {
            width: 85% !important;
            height: 70vh !important;
        }
        p {
            font-size: 1rem !important;
            letter-spacing: 0.2rem !important;
        }
    }
}

.aboutme {
    div {
        background: rgba($black, 0.2);
        border-radius: 10px;
        box-shadow: 0 0 25px $dark-black;

        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: 70vh;

        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            width: 90%;
            padding: 2%;
            font-size: 1.4rem;
        }
    }

    span {
        &:hover {
            cursor: pointer;
            color: $pink;
            transition: 400ms;
        }
    }
}
