@import "./variables.scss";


* {
    font-family: var(--font-hind);
    margin: 0;
    padding: 0;
    z-index: 2;
}

::-moz-selection, ::selection{
    color: $black;
    background: $white;
}

body, html {
    background: $black;
    scrollbar-color: $red transparent;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    width: 100vw;
    color: $white;
}

body::-webkit-scrollbar-thumb {
    background: $red;
    border-radius: 3px;
}

h1, h2 {
    font-family: var(--font-anton);
    letter-spacing: 0.1rem;
}

p {
    letter-spacing: 20px;
    text-align: justify;
    letter-spacing: 0.3rem;
    line-height: 150%;
}

section {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    border: 2px solid;
}
