* {
	margin: 0; 
	padding: 0; 
} 
 
body { 
	background: rgb(45,45,75); 
	height: 100vh;
	width: 100vw;
	
	display: flex;
	justify-content: center;
	align-items: center;
} 

canvas {
	border: 2px solid #000;
}

#score {
	position: absolute;
	top: 1%;
	color: #fff;
}
